
body {
	background-color: #611c35;
}

h1 {
		color: #4da1a9;
	}
	
div {
	text-align: left;
    width: 300px;
    border: groove #4da1a7;
	border-width: 3.5px;
    padding: 25px;
    margin: 25px;
	color: teal;
}



form{ color: #20899b;
}

